In [2]:
import pandas as pd
import pyodbc

In [3]:
server = 'localhost\\SQLEXPRESS'
database = 'AdventureWorks2017'
data_string = (
    f'DRIVER={{ODBC Driver 17 for SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'Trusted_Connection=yes;'
)
string = pyodbc.connect(data_string)

query = """
SELECT
    T2.Name As SalesTerritory,
    T1.TotalDue As TotalRevenue
From Sales.SalesOrderHeader As T1
Inner Join Sales.SalesTerritory As T2
    On T1.TerritoryID = T2.TerritoryID
"""

df_ventas = pd.read_sql(query, string)

print('DataFrame cargado de la base de datos real:')
print(df_ventas.head(50))
print(df_ventas.info())

C:\Users\John\AppData\Local\Temp\ipykernel_8008\1367900406.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_ventas = pd.read_sql(query, string)

DataFrame cargado de la base de datos real:
    SalesTerritory  TotalRevenue
0        Southeast    23153.2339
1        Southeast     1457.3288
2           Canada    36865.8012
3           Canada    32474.9324
4        Southwest      472.3108
5        Northwest    27510.4109
6        Northwest    16158.6961
7        Southwest     5694.8564
8          Central     6876.3649
9           Canada    40487.7233
10       Northwest      807.2585
11         Central     6893.2549
12       Northwest     9153.6054
13          Canada     6895.4100
14       Northeast     4216.0258
15          Canada     2955.0542
16         Central     6434.0848
17       Southeast    15992.7446
18          Canada     8773.6810
19       Southwest    11036.3964
20          Canada     1481.1742
21       Southwest    12832.9009
22       Southeast    15524.0686
23       Northeast     4363.7107
24       Northwest    48204.0662
25       Southeast     6301.6258
26       Southeast     3082.0191
27       Northwest     3899.6756
28       Northeast     1416.9322
29       Northeast    14323.1194
30       Southwest    38291.2063
31         Central     1460.6061
32       Southwest      985.0180
33       Southwest    43362.4196
34       Southeast    23126.4500
35       Southeast    23242.1865
36       Southeast    44344.8265
37       Southeast      472.3108
38          Canada     3953.9884
39          France     3756.9890
40       Northwest     3756.9890
41       Southwest      772.5036
42       Australia     3756.9890
43       Southwest     3953.9884
44       Australia     3953.9884
45       Australia     3729.3640
46       Australia     3756.9890
47       Southwest     3953.9884
48       Southwest     3953.9884
49  United Kingdom      772.5036
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31465 entries, 0 to 31464
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SalesTerritory  31465 non-null  object
 1   TotalRevenue    31465 non-null  float64
dtypes: float64(1), object(1)
memory usage: 491.8+ KB
None

In [6]:
df_reporte = df_ventas.groupby('SalesTerritory')['TotalRevenue'].sum()
print(df_reporte)

SalesTerritory
Australia         1.181438e+07
Canada            1.839893e+07
Central           8.913299e+06
France            8.119749e+06
Germany           5.479820e+06
Northeast         7.820210e+06
Northwest         1.806166e+07
Southeast         8.884099e+06
Southwest         2.715059e+07
United Kingdom    8.574049e+06
Name: TotalRevenue, dtype: float64